body{
    font-family: 'Supermercado One', cursive; 
    margin: 0%;
}
.st-div{
background-image: url(images/donation13.jpg) ;
background-repeat: no-repeat;
background-size: 100%;
height: 660px;
margin-bottom: 100px;

}
.head h1{
    font-size: 50px;
}
.head h4{
    font-size: 20px;
    margin-bottom:100px;
}
.head{
    text-align: center;
    color: white;
    padding-top: 150px;
}
.link-btn{
    padding: 20px 40px ;
    background-image: linear-gradient(orange, pink);
    border-radius:10px ;
    text-decoration: none;
    
}
.today{
    color: brown;
}
.donate-today{
    text-align: center;
    margin-bottom:20px;
    font-size: 45px;
}
.soon{
    text-align: center;
    color: chocolate;
    margin-bottom: 20px;
}
.nd-div{
    display: flex;
    margin-left: 320px;
    margin-bottom: 50px;
}
.tk{
    margin: 10px 10px;
    background-color: bisque;
    border-radius: 10px;
    padding:10px 20px ;
    box-shadow: 10px 8px 8px 8px gray;
}
#five-th{
     border: 5px solid green;
     color: green;
}
.rd-div{
    border-bottom: 2px solid grey;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
    margin-left: 350px;
}
.input{
    margin-bottom: 5px;
    border: none;
    text-align: center;
    font-size: 25px;
}
.donate-online{
    text-align: center;
    margin-bottom: 100px;
}
.plan{
    margin-bottom: 20px;
}
.fort-div{
    display: flex;
    margin:50px 10%;
    margin-bottom: 100px;

}
#fast-aid{
    height: 53px;
    width: 53px;
}
.we-help{
    margin: 10px 10px;
    
    border-radius: 5px;
    padding:10px 20px ;
    
}
.we-help img, h2, p{
    padding-top: 30px;
}
#treatment{
    background-color:khaki;
    height: 310px;
    width: 360px;
    box-shadow:5px 5px 5px gray;
}
#foods{
    background-color: aquamarine;
    height: 310px;
    width: 360px;
    box-shadow:5px 5px 5px gray;
}
#shelters{
    background-color:cornflowerblue;
    height: 310px;
    width: 360px;
    box-shadow:5px 5px 5px gray;
}
.fift-div{
    display: flex;
    margin-bottom: 100px;
}
.fift-div img{
    width: 80%;
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: 8px 10px 8px gray;
}
#please{
    margin-bottom: 50px;
}
.st-back{
    display: flex;
   background-image: url(shapes/Frame\ 58.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 60px 60px;
}
.half-width{
    width: 50% ;
    margin-left: 20px;
    padding-left: 5%;
    align-items: center;
    padding-top: 5%;
   

}
.span-btn{
    padding: 20px 40px ;
    background-image: linear-gradient(orange, green);
    border-radius:10px ;
    text-decoration: none;
}
.six-div{
    display: flex;
    margin-bottom: 100px;
}
.six-div img{
    width: 80%;
    border-radius: 15px;
    box-shadow: 8px 10px 8px gray;
}
.nd-back{
    display: flex;
   background-image: url(shapes/Frame\ 59.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 60px 60px; 
}
.update{
    text-align: center;
    margin-bottom: 10px;
    font-size: 45px;
}
.update-p{
    text-align: center;
    margin-bottom: 80px;
    color: coral;
}

.seven-div{ 
            background-color: rgb(234, 175, 102);
            margin: 100px 20%;
            border-radius: 5px
}
.email{
        text-align: center;
        padding: 50px 50px;

}
#subs{
    background-color:darkred ;
    padding: 10px 15px;
    text-decoration:none;
    color: antiquewhite;
    border-radius: 5px;
}
#nd-input{
    padding: 10px 15px;
    border-radius: 5px;
}
.be{
    text-align: center;
    padding: 70px 100px;
    background-color: darkslategray;
}
#footer{
    text-align: center;
}
#footer img{
    
        width:22px;
        height: 25px;
    }